#test-div{
    width: 200px;
    height: 200px;
    background-color: aqua;
    color: black;
    border-radius: 10%;
    text-align: center;
    padding: 15px;
    margin: 200px;
    /* transform: translate(300px ,300px); */
    /* transform: rotate(45deg); */
    /* transform: scale(2,2); */
    /* transform: scaleX(3); 
    transform: scaleY(2);  */
    /* transform: skewX(40deg);
    transform: skewY(40deg); */
   
}

#transition{
    width: 200px;
    height: 200px;
    background-color: red;
    transition: background 2s,border-radius 10s ;
}

#transition:hover{
    background-color: rgb(22, 22, 27);
    border-radius: 50%;
  
}

#engineers img{
    /* transform: scale(1); */
    filter: grayscale(100%);
    transition: 3s ease-in-out;
}

#engineers:hover img{
    filter: grayscale(0); 
    /* transform: scale(1.5); */
}

#hipsters img{
    margin-left: 0px;
    transition: 3s ease-in-out;
}

#hipsters:hover img{
    margin-left: 30px;
}

#shadows img{
    filter: blur(3px);
    transition: 3s ease-in-out;
}

#shadows:hover img{
    filter: blur(0);
}

#speedsters img{
    transform: scale(1);
    transition: 3s ease-in-out;

}

#speedsters:hover img{
    transform: scale(1.3);
}