.Gallery{
   margin: 10px;
    border: 1px solid black;
    float: left;
    width: 450px;
} 

.Gallery:hover{
    border: 3px solid rgb(16, 241, 129);
} 

.Gallery img{
    width: 100%;
    height: 300px;
}

.description{
    padding:15px;
    text-align: center;
}