.Gallery{
   margin: 10px;
    border: 1px solid black;
    float: left;
    width: 450px;
} 

.Gallery:hover{
    border: 3px solid rgb(16, 241, 129);
} 

.Gallery img{
    width: 100%;
    height: 300px;
}

.description{
    padding:15px;
    text-align: center;
}

.sprite{
    background: url(images/image.png);

}

.engenieer{
    width: 450px;
    height: 450px;
    display: inline-block;
    background-position: 0 0;

}

.hipsters{
    width: 450px;
    height: 450px;
    display: inline-block;
    background-position: -500px 0px;

}

.shadows{
    width: 450px;
    height: 450px;
    display: inline-block;
    background-position: -0 500px;
}

.speedster{
    width: 450px;
    height: 450px;
    display: inline-block;
    background-position: -500px -500px;
}

p[class*="ds"]{
    background-color: blue;
    color: white;
    padding: 20px;
}

div[class~="ds"]{
    background-color: blue;
    color: white;
    padding: 30px;
}

input[::placeholder$="name"]{
    border: 2px solid red;
}