body{
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    color: #e9eefc;
}



nav ul li:hover{
        background-color: blue;
        text-decoration-color: #e9eefc;
    
}

nav ul li{
    margin: 15px;
}



