body{
    font-family: Arial, Helvetica, sans-serif;
    background: #0b1220;
    color: #e9eefc;
}



nav:hover{
        background-color: black;
        text-decoration-color: #e9eefc;
    
}

nav ul li{
    float: right;
}



