body {
    background-color: grey;
}

nav ul{
    list-style-type: none;
    padding: 20px;
    display: inline;
}
nav ul li a:hover{
    background-color: black;
    text-decoration: none;
}
nav ul li{
   padding: 25px;
   float: right;
}

nav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    padding: 25px;
}

nav {
    width: 100%;
}

nav img{
    width: 50px;
    height: 50px;
    float: left;
    padding: 10px;
}

p {
    text-align: center;
}

.Gallery{
   margin: 10px;
    border: 1px solid black;
    float: left;
    width: 450px;
} 

.Gallery img{
    width: 100%;
    height: 300px;
}

.description{
    padding:15px;
    text-align: center;
}

.gallery  img{
    transform: scale(1);
    transition: 3s ease-in-out;

}

#speedsters:hover img{
    transform: scale(1.3);
}


