#nav-bar ul{
    list-style-type: none;
    background-color: purple;
    margin-bottom: 100px;
    padding: 100px;
    overflow: hidden;
}

#nav-bar ul li{
    float: right;
}

#nav-bar ul img{
    float: ;left: ;
}


#nav-bar ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    padding: 25px;
}

#nav-bar ul li a:hover{
    background-color: grey;

}

.second-page {
    background-color: lightseagreen;
}



.Gallery{
   margin: 10px;
    border: 1px solid black;
    float: left;
    width: 450px;
} 

.Gallery img{
    width: 100%;
    height: 300px;
}

.description{
    padding:15px;
    text-align: center;
}


