#nav-bar ul{
    list-style-type: none;
    background-color: purple;
    padding: 50px;
    overflow: hidden;

}

#nav-bar ul li{
    float: right;
}

#nav-bar ul img{
    float: ;left: ;
}


#nav-bar ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;

}
#nav-bar ul span{
    color: white;
    
}

h1{
    text-align: center;
}
 
p{
    text-align: center;
}

.main2 {
    background-color: lightseagreen;
    
   
}

.Gallery{
   margin: 60px;
    float: left;
    width: 350px;
} 

.Gallery img{
    width: 100%;
    height: 300px;
}

.description{
    padding:25px;
    text-align: center;
}





