 article p{
    background-color: red;
    color: white;
    padding: 20px;
}

article div p{
    background-color: black;
    color: white;
    padding: 20px;

} 

article ~ p{
     background-color: green;
    color: white;
    padding: 20px;

}

<article > p{
    background-color: BLUE;
    color: white;
    padding: 20px;

}

article + p{
    background-color: orange;
    color: white;

}

input:in-range{
    border: 2px solid green;

}

input:out-of-range{
    border: 2px solid red;


}

main p:last-child{

    background-color: blueviolet;
}

#link:hover{
    background-color: blueviolet;
    
    
}

nav a{
    padding: 20px;
    margin: 20px;

}

nav{
    background-color: aquamarine;
    padding: 20px;

}

nav a:hover{
    background-color: aqua;

}

nav a:active{
    background-color: rgb(0, 0, 0);

}

nav a:visited{
    color: yellow;
}





