div#div1{
    position: static;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    padding: 20px;
}

div#div2{
    position: relative;
    border: 3px solid black;
    width: 200px;
    height: 200px;
    padding: 20px;
    left: 1000px;
    top: 100px;
}

div#div3{
    position: fixed;
    border: 3px solid black;
    width: 250px;
    height: 250px;
    margin-top: 100px;
    top: 100px;
    right: 150px;

}

#parent{
    position: relative;
    border: 3px solid black;
    width: 250px;
    height: 250px;


}

#child{
   position: absolute;
    border: 3px solid black;
    width: 100px;
    height: 100px;
    top: 100px;
    right: 100px;

}

#horizontal ul{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;

}

#horizontal ul li{
    float: left;
}

#horizontal ul img{
    float: right;
}

#horizontal ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    padding: 25px;
}

#horizontal ul li a:hover{
    background-color: rgb(131, 117, 117);

}

#vertical ul{
    list-style-type: none;
    background-color: black;
    margin-bottom: 100px;
    padding: 20px;
    overflow: hidden;

}

#vertical ul li{
   padding: 20px;
}

#vertical ul img{
    float: top;
}

#vertical ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    padding: 25px;
}

#vertical ul li a:hover{
    background-color: rgb(131, 117, 117);

}
